

.mainnavbar{
    box-shadow: 10px 0 20px 20px rgba(11, 15, 43, 0.84);
    position: fixed;
    z-index: 100;
    flex-direction: row;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: rgba(11, 15, 43, 0.94);
    overflow: hidden;
    font-family: var(--font-default);
    margin-bottom: 20px;
}
.mainnavbar .logo{
    left: 20px;
    display: flex;
    flex-direction: row;
    flex: 5;
    align-items: center;
    justify-content: center-left;
    gap:10px;
    position: relative;
    color: white;
    font-family: var(--font-title);
    font-size: 24px;
    font-weight: bold;
}

.mainnavbar .logo img{
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.mainnavbar ul {
    display: flex;
    flex: 4;
    margin: 0;
    padding: 0;
    align-items: center;
    overflow: hidden;
    list-style-type: none;

}

.mainnavbar ul li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: var(--main-color);
    border-radius: 4px;
    
}
.mainnavbar ul .login {
    height: 40px;
    width: 70px;
    border: none;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    font-family: var(--font-default);
    color: white; /* Mengganti var background agar teks terlihat */
    border-radius: 10px; /* 20% seringkali terlihat aneh, gunakan px untuk konsistensi */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background: linear-gradient(135deg, #6C4DFF, #5e02ff, rgb(10, 56, 194));
    transition: all 0.4s ease; /* Transisi untuk semua perubahan */
}

.mainnavbar ul .login:hover {
    background: #b7a9ff; /* Mengganti gradient menjadi warna solid */
    transform: scale(1.1); /* Efek membesar */
}

.mainnavbar ul .premium {
    height: 40px;
    width: 100px;
    padding: 10px;
    cursor: pointer;
    font-size: small;
    font-weight: bold;
    font-family: var(--font-default);
    
    /* Border Gradient */
    border: 2px solid;
    border-image: linear-gradient(135deg, #ffde0a, #ff8400) 1;

    /* Text Gradient */
    background-image: linear-gradient(135deg, #ffde0a, #ff8400);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    transition: all 0.4s ease;
}

.mainnavbar ul .premium:hover {
    background: linear-gradient(135deg, #6C4DFF, #5e02ff, rgb(10, 56, 194));
    -webkit-background-clip: initial;
    background-clip: initial;
    color: white;
    transform: scale(1.1);
    border-image: none;
    border: 2px solid #6C4DFF;
}
.mainnavbar ul .premium img{
    margin-left: 5px;
    width: 25px;
    height: 25px;
}


.container{
    display: flex;
    margin-top: 100px;
    gap: 20px;
    padding: 20px;
}
.sidebars{
    flex: 1;
}
/* ===== SIDEBAR DASAR ===== */
.sidebar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height:calc(100vh - 50px) ;
    display: flex;
    justify-content: space-between;
    padding:100px 10px 20px 20px;
    background: rgba(11, 15, 43, 0.84);
    backdrop-filter: blur(14px);
    border-right: 1px solid rgba(83, 76, 76, 0.597);
    transition: width .4s ease;
    overflow: hidden;
}

/* Sidebar melebar saat hover */
.sidebar:hover {
    width: 240px;
}

/* ===== BAGIAN Kanan(SEMBUNYI AWAL) ===== */
.sidebar .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    opacity: 0;
    transform: translateX(-40px);
    transition: all .4s ease;
}

/* Kanan MUNCUL SAAT SIDEBAR / Kiri DI HOVER */
.sidebar:hover .right{
    opacity: 1;
    transform: translateX(0);
}

/* Profile */

.sidebar .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.sidebar .left img {
    
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 25px rgba(108, 77, 255, .6);
    object-fit: cover;
    /* GANTI 'animation' menjadi 'transition' */
    /* Ini agar putaran dan pembesaran (scale) bergerak halus */
    transition: transform 0.3s ease; 
}

.sidebar .left img.hover-img {
   opacity: 0;
   animation: trasform 0.3s ease;

}
.sidebar .left img.main-image {
    position: absolute;
       animation: trasform 0.3s ease;
   opacity: 1;
}

.sidebars :hover img.hover-img {
   opacity: 1;
   transform: rotate(360deg);
}
.sidebars :hover img.main-image {
   opacity: 0;
   transform: rotate(360deg);
}



.sidebar .left button.home {
    width: 48px;
    height: 48px;

    border: 2px solid rgb(255, 217, 0); /* Border harus transparan */
    
    background-image: 
        linear-gradient(transparent), /* Lapisan dalam (warna background tombol) */
        linear-gradient(135deg, #383838, #1a1a1a); /* Lapisan luar (warna border) */
    cursor: pointer;
    color: #fff;
    box-shadow: 0 10px 30px rgba(0,229,255,.4);
     border-radius: 14px;
    display: flex;
    justify-content: center; 
    align-items: center;     
    overflow: hidden;      
}

.sidebar .left button.home img {
  
    width: 34px; 
    height: 34px;
    object-fit: contain;
}
.sidebar .left button.setting {
    width: 48px;
    height: 48px;
    border-radius: 14px;
    border: none;
     background: rgba(11, 15, 43, 0.75);
    border-radius: 20%;
    cursor: pointer;
    color: transparent;
    display: flex;
    justify-content: center; 
    align-items: center;     
    overflow: hidden;      
}

.sidebar .left button.setting img {
    width: 24px; 
    height: 24px;
    object-fit: contain;
}


/* ===== BAGIAN KANAN ===== */
.sidebar .right {
    display: flex;
    align-items: center;
}
.sidebar .right .button-container {
    display: flex;
    
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    padding-right: 30px;
    gap: 10px;
}

.sidebar div.button-container nav.button-row-1{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
/* Tombol menu */
.sidebar div.button-container nav.button-row-1 button {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    padding: 14px;
    border-radius: 16px;
    background: transparent;
    border: 1px solid rgba(108,77,255,.35);
    color: #fff;
    cursor: pointer;
    transition: all .3s ease;
    justify-content: flex-start;
    align-items: center;
}

.sidebar div.button-container nav.button-row-2 button{
    width: 100%;
      display: flex;
    margin-bottom: 20px;
    padding: 14px;
    border-radius: 16px;
    background:transparent;
    border: 1px solid rgba(108,77,255,.35);
    color: #fff;
    cursor: pointer;
    transition: all .3s ease;
    justify-content: flex-start;
    align-items: center;
}

.sidebar div.button-container nav.button-row-1 button.category-1:hover,
.sidebar div.button-container nav.button-row-1 button.category-2:hover,
.sidebar div.button-container nav.button-row-1 button.category-3:hover,
.sidebar div.button-container nav.button-row-1 button.category-4:hover,
.sidebar div.button-container nav.button-row-2 button.category-5:hover,
.sidebar div.button-container nav.button-row-2 button.category-6:hover,
.sidebar div.button-container nav.button-row-2 button.category-7:hover,
.sidebar div.button-container nav.button-row-2 button.category-8:hover {
    background: linear-gradient(135deg, #6C4DFF, #00E5FF);
    box-shadow: 0 0 30px rgba(0,229,255,.6);
    transform: translateX(6px);
}



/* Hover menu */
.sidebar nav.button button:hover {
    background: linear-gradient(135deg, #6C4DFF, #00E5FF);
    box-shadow: 0 0 30px rgba(0,229,255,.6);
    transform: translateX(6px);
}
.content-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 10;
}
.content {
    display: flex;
    flex-direction: row;
    color: black;
    border-radius: 20px;
    justify-content: center-left;
    padding:50px;
    flex: 6;
    width: 100%;
    max-width: 1100px;
    min-height: 300px;
    background-color: rgba(167, 167, 167, 0.38);
backdrop-filter: blur(40px);
margin-right: 60%;
    filter: drop-shadow(0px 0px 10px rgba(167, 167, 167, 0.38));
}

.content .textcontent{
    display: flex;
    width: auto;
    flex:3;
    flex-direction: column;
    justify-content: center-left;
    align-items: flex-start;
    gap: 10px;
}
.content .textcontent h1{
    width: auto;
    font-family: var(--font-title);
    font-size: 56px;
    color: var(--color-prmary-button-color);
}
.content .textcontent  p{
    width: auto;
    font-family: var(--font-default);
    font-size: 20px;
    color: #0B0E2C;
    margin-top: -20px;
    margin-bottom: 20px;
}

.create-review-button {
    display: flex;
    justify-content: center; /* tengah horizontal */
    align-items: center;     /* tengah vertikal */
    width: 160px;
    gap: 10px;
    background-color: var(--color-primary-button);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.1s ease;
}
.create-review-button img{
    width: 10px;
    height: 20px;
    object-fit: contain;
}


.create-review-button:hover {
    
    background-color: var(--color-primary-button-hover);
    transition: background-color 0.3s ease;
}



/* Container background */
.background-slider {
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: hidden;
  filter: blur(5px);
  background: #000000;
mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

/* Wrapper baris gambar */
.slider-row {
    box-shadow: inset 0 0 350px rgba(0,0,0,1);
  display: flex;
  gap: 30px;
  z-index: -3;
  position: absolute;
  width: max-content;
  animation: slideLeft linear infinite;
  opacity: 1;
}

/* Variasi baris */
.slider-row.row-1 { z-index: -3;top: 10%; animation-duration: 120s; }
.slider-row.row-2 { z-index: -3;top: 40%; animation-duration: 160s; }
.slider-row.row-3 { z-index: -3;top: 70%; animation-duration: 200s; }

/* Gambar */
.slider-row img {
    z-index: -4;
  border-radius: 16px;
  object-fit: cover;
  box-shadow: 0 20px 40px rgba(0,0,0,.4);
}

/* Ukuran random */
.size-sm { width: 120px; height: 170px; }
.size-md { width: 160px; height: 230px; }
.size-lg { width: 220px; height: 320px; }

/* Animasi */
@keyframes slideLeft {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}




.music-element-wrapper{
    position: relative;
    left: 90%;
}
.music-element {
  width: 350px;
  height: 350px;
}

.auto-rotate{
  animation: autoRotate 20s linear infinite;
}

@keyframes autoRotate{
    from{
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}



.container-music-element{
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: -150px;
    transform: translateX(-50%);
    animation : rotateMusicElement 20s linear infinite;
    z-index: -1;
}

@keyframes rotateMusicElement{
    from{
        transform: translateX(-50%) rotate(0deg);
    } to {
        transform: translateX(-50%) rotate(360deg);
    }
}

.running-text {
    position: absolute;
    background: #000000;
    mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(9, 9, 121, 1) 70%, rgba(2, 0, 36, 1) 100%);
    z-index: -1;
    color: white;
    font-size: 20px;
    bottom: -5%;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.text-list {
    display: flex;
    white-space: nowrap;
    animation: scrollLeft 30s linear infinite;
    will-change: transform;
}

.genre-span {
    margin-right: 40px;
    flex-shrink: 0;
}

@keyframes scrollLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-25%);
    }
}

.shine-effect {
    position: relative;
    overflow: hidden;
    display: inline-block;
    transition: all 0.3s ease;
}

.shine-effect::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -60%;
    width: 20%;
    height: 200%;
    background: rgba(255, 255, 255, 0.7);
    transform: rotate(30deg);
    opacity: 0;
    transition: opacity 0.3s;
}

.shine-effect:hover::after {
    opacity: 1;
    animation: shineSlide 0.7s ease-out;
}

@keyframes shineSlide {
    0% {
        left: -60%;
    }
    100% {
        left: 150%;
    }
}