:root {
    --color-primary: #8b1eff;
    --color-secondary: #2e0588;
    --color-background: #007be0;
    --color-text: #333333;
}



body {
    font-family: Arial;
    background-color: #f2f2f2;
}

h1 {
    color: blue;
}
